@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #131314;
  color: #fffffff1;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.blinking-cursor {
  display: inline-block;
  width: 1px; /* Adjust the width as needed */
  height: 1em; /* This should match the line height of the text */
  background-color: white; /* Adjust color as needed */
  animation: blink 1s step-start infinite;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333537;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #444746;
}